<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.personage.kevin.mubypass">

    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/mu_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.BootActivity"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.ClassifyMainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.WelcomeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_welcome"
            android:theme="@style/FullscreenTheme"></activity>
        <activity android:name=".activity.TestActivity"
            android:theme="@style/AppThemeNoActionBar">

        </activity>
        <activity android:name=".activity.WebsiteActivity"
            android:theme="@style/AppTheme.NoActionBar" >

        </activity>
    </application>

</manifest>